.grid-galeria {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.grid-galeria img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}

.grid-galeria img:hover {
  transform: scale(1.05);
}