<footer class="footer">

  <div class="footer-container">

    <!-- LOGO / SOBRE -->
    <div class="footer-col">
      <h2>Minha Missão</h2>
      <p>
        Apoiamos cristãos perseguidos ao redor do mundo com ajuda
        humanitária, discipulado e oração.
      </p>

      <a href="doacao.html" class="footer-btn">🙏 Doe agora</a>
    </div>

    <!-- LINKS -->
    <div class="footer-col">
      <h3>Navegação</h3>
      <ul>
        <li><a href="index.html">Início</a></li>
        <li><a href="galeria.html">Galeria de fotos</a></li>
        <li><a href="nossaMissao.html">Nossa Missão</a></li>
        <li><a href="contato.html">Contato</a></li>
      </ul>
    </div>

    <!-- CONTATO -->
    <div class="footer-col">
      <h3>Contato</h3>
      <p>📞 <a href="tel:+5511999999999">(11) 99999-9999</a></p>
      <p>💬 <a href="https://wa.me/5511999999999">WhatsApp</a></p>
      <p>✉ contato@minhamissao.org</p>
      <p>🕒 Seg a Sex - 9h às 18h</p>
    </div>

    <!-- ENDEREÇO -->
    <div class="footer-col">
      <h3>Endereço</h3>
      <p>
        Rua Xingu, 62 <br>
        Cidade São Pedro /SP<br>
        CEP 06535-120
      </p>

      <iframe
        src="https://www.google.com/maps?q=Rua+Xingu+62+Santana+de+Parnaiba&output=embed">
        loading="lazy">
      </iframe>
    </div>

  </div>

  <!-- LINHA INFERIOR -->
  <div class="footer-bottom">
    <p>CNPJ: 00.000.000/0001-00</p>
    <p>© 2026 Minha Missão - Todos os direitos reservados</p>
    <p>Dev Paulo Cesar Camargo </p>
  </div>

</footer>